
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root{
/* ### Primary */

--Dark-Blue: hsl(233, 26%, 24%);
--Lime-Green: hsl(136, 65%, 51%);
--Bright-Cyan: hsl(192, 70%, 51%);

/* ### Neutral */

--Grayish-Blue: hsl(233, 8%, 62%);
--Light-Grayish-Blue: hsl(220, 16%, 96%);
--Very-Light-Gray: hsl(0, 0%, 98%);
-White: hsl(0, 0%, 100%);

}




  body{
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--Very-Light-Gray);
  }

  /* reset */


  button {
    outline: none;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
  }

  h1, h2, h3,h4, h5, h6 {
    margin: 0;
    padding: 0;

  }

  p{
    line-height: 1.6;
    word-spacing: 1.5;
  }


  *, *::after, *::before{
    box-sizing: border-box;
  }

  section{
    padding: 60px 0;
  }

  /* utilities */

  .flex{
    display: flex;
    align-items: center;
  }


  .container{
    width: 80%;
    max-width: 1440px;
    margin: auto;  
  }


  /* nav */
  nav{
    
    padding: 0;
    margin: 0;
    background-color: white;
    justify-content: space-around;
    color: var(--Grayish-Blue);
    position: relative;
    z-index: 99;
    font-size: 15px;
    
  }

  .nav{
    display: flex;
    align-items: center;
  }

  .requestBtn{
    width: 11rem;
    padding: 13px 15px;
    border-radius: 30px;
    background-image: linear-gradient(to left, var(--Lime-Green) 0%, var(--Bright-Cyan)100%);
    color: white;
    border: 1px solid transparent;
    font-weight: 700;
  }

  ul{
    margin:0 auto;
    height: fit-content;
    display: flex;
    padding: 0;
  }

  nav li{
    padding: 30px 20px;
  }

  nav li:hover{
    background-color: black;
  }



  /* section 1 */

  section h1{
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--Dark-Blue);
  }

  section p{
    color: var(--Grayish-Blue);
    font-size: 16px;
  }
  section h2{
    font-weight: 300;
    margin: 10px 0;
    color: var(--Lime-Green);
  }
  .section1{
    background-image:url(images/bg-intro-desktop.svg);background-position-x: 600px;
    background-position-y: -250px;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0;
   
    display: flex;
  }

  .mockups{
   position: relative;
   right: -17%;
  }
  .mockups_cont{
    position: absolute;
    top: 0;
    right: 0px;
    overflow: hidden;
  }

  .textbox{
    width: 40%;
    margin: 0;
    padding: 0;
    align-self: center;
    margin-right: auto;
  }







  


  /* section 2 */

  .section2 li{
  
    margin: 70px 0;
  }

  .section2{
    background-color: var(--Light-Grayish-Blue);
  }



  /* section 3 */

  .section3  li{
    background-color: white;
    max-width: 20rem;
    /* height: fit-content; */
    overflow: hidden;
    padding:0;
    margin: 0;
  }

  .section3 li img{
    min-height: 50%;
    max-height: 50%;
  }
  
  .section3 img{
    width: 100%;
   border-radius: 5px 5px 0  0;
    align-items: start;

  }

  .section3 h1, h6 {
    margin-bottom: 20px;
  }

  .section3 p{
    font-size: 14px;
  }
   .section3 h3 , h6{
    font-weight: 500;
   }
  
  .grid{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr  1fr ;
   gap: 30px;
  
  }



  /* footer */
  footer{
    background-color: var(--Dark-Blue);
    color: white;
    padding: 50px;
    margin: 0;
  }

  .social{
    width: 15rem;
    margin-top: 3rem;
  }

  footer a{
    color: white;
  }


   footer ul{
    display: block;
   }
  .margin{
    margin-right: auto;
  }
  #footer_logo{
  
   color: white;
  }


  .hamburger{
    display: none;
  }

  footer .requestBtn{
    float: right;
  }

  .footer{
  
    margin: 0;
    padding: 0;
    width: fit-content;
  }



  


  
  @media screen  and (max-width:950px){
 
    section{
      padding: 15px 0;
      text-align: center;
    }
  
    .mockups_cont {
      position: unset;
      top: 0;
      right: 0px;
      overflow: hidden;
    }

    .mockups {
      position: unset;
      top: -120px;
      left: 0%;
      visibility: unset;
      display: block;
      width: 100%;
      height: 80%;
      margin-bottom: 150px;
      margin-top: -120px;
    }

    
    
    .section1{
      background-image: url(images/bg-intro-mobile.svg);
      
      background-position-x: 100%;
      background-position-y: -50px;
      background-size: contain;
      background-repeat: no-repeat;    
      height: fit-content;
    }

    nav li{
      padding: 25px 0;
      
    }
  
  
  
     section .flex, footer .flex {
      display: block;
    }

    .section3 ul{
      margin: 0;
      padding: 0;
      display: auto;
      justify-items: center;
      width: 100%;
    
      
    }

    .section3 li{
      justify-self: center;
      width: 100%;
      margin: auto;
    
      
    }


    .grid{
      display: grid;   grid-template-columns: 1fr 1fr ;
      height: fit-content;
  
    }
  
    .hamburger{
      display: block;
      margin-left: auto;
      position: absolute;
      padding: 15px 0;
      right: .75rem;
      top: 3px;
    }
  
    
    nav .logo{
      margin-left:20px;
      margin: 15px 20px;
    }
    #navBtn{
      display: none;
    }

    #navBtn.active{
      display: block;
      position:absolute;
      width: 90%;
      border-radius: 5px;
      left: 0;
      right: 0;
      margin: 30px auto;
      padding: 10px 0;
      background-color: var(--Very-Light-Gray);
      
    }

    nav li{
      width: 100%;
      padding: 10px;
      text-align: center;
    }


  
    nav .requestBtn{
      visibility: hidden;
      position: absolute;
    }
  
    .grid{
      margin: auto;
    }
      
    .mockups{
    
  
    right: 60px;
    }
  
    .textbox{
      width: 100%;
    /* }
    .mockups_cont{
      top: 0;
      width:14px;
      visibility: hidden;
    } */

    
    .nav{
      display: block;
     }

     nav .container{
      width: 100%;
     }

     .focused{
      filter: brightness(0.5);
          }
    }


    @media screen  and (max-width:600px){
       
     .focused{
      filter: brightness(0.5);
          }
      .mockups {
        position: unset;
        top: -120px;
        left: 0%;
        visibility: unset;
        display: block;
        width: 100%;
        margin-bottom: 60px;
        margin-top: -120px;
      }
      
     .nav{
      display: block;
     }

     nav .container{
      width: 100%;
     }
    #navBtn{
      display: none;
    }

    #navBtn.active{
      display: block;
      
    
  
    }

    nav li{
      width: 100%;
    
      padding: 10px 0;
      font-weight: 500;
      /* padding: 20px 0; */
      font-size: 1.1rem;
    }

    nav ul{
      /* box-shadow: 2px 2px 200px 100px rgb(19, 16, 16); */
      padding: 20px 0;
    }

    footer{
      text-align: center;
    }

      section{
        padding: 30px 0;
        margin-bottom: 40px;
        
      }
    
      .section1{
        background-image: url(images/bg-intro-mobile.svg);
        
        background-position-x: 100%;
        background-position-y: -90px;
        background-size: contain;
        background-repeat: no-repeat;
       
        height: fit-content;
      }
    
      
    
    
       section .flex, footer .flex ,.grid{
        display: block;
        
      }
    
      .hamburger{
        display: block;
        margin-left: auto;
        float: right;
        padding: 15px 0;
      }
    
    
      nav .requestBtn{
        visibility: hidden;
        position: absolute;
      }
    
      .grid{
        margin: auto;
      }
        
      
      .textbox{
        width: 100%;
       }
     
      }
    }